# ESP-IDF Build Folders
build/
sdkconfig
sdkconfig.old

# Python / Poetry files
__pycache__/
*.py[cod]
.venv/

# VS Code / IDE
.vscode/
.history/

# OS files
.DS_Store

# ESP-IDF Managed Components
# These are downloaded automatically; don't track them in Git
managed_components/
dependencies.lock

# Log files
*.log

# Security
secrets.h
main/secrets.h
